@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./assets/240_F_189360766_QQ5vpspv2fJllTX1RyvpsjSBKUPfxdCE.jpg);
}

.textoEncriptado {
    width: 30%;
    margin-bottom: 2%;
    border-radius: 10px;
    height: 20%;
    font-family: 'Share Tech', sans-serif;
    font-size: large;
    padding-left: .5%;
}

.textoDesencriptado {
    width: 60%;
    margin-bottom: 2%;
    border-radius: 10px;
    height: 300px;
    font-family: 'Share Tech', sans-serif;
    font-size: large;
    padding-left: .5%;
    padding-top: .5%;

}

.boton {
    width: auto;
    margin: 2%;
    border-radius: 10px;
    background-color: #009900;
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 1%;
}

.boton:hover {
    background-color: #006600;
    color: white;
}

.contenedorBtn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contenedorText {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.copyright {
    color: #00FF00;
    margin-top: 3%;
}

.copyright a {
    color: #00FF00;
    text-decoration: none;
}

.title {
    color: #00FF00;
    margin-bottom: 2%;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 6px 5px 3px #000;

}

label {
    color: #00FF00;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: .5%;
    text-shadow: 6px 5px 3px #000;

}

@media screen and (max-width:640px) {
    .boton {
        font-size: 16px;
    }

    .textoDesencriptado {
        width: 91%;

    }

    .textoEncriptado {
        width: 70%;
    }

    .copyright {
        font-size: 14px;
    }
}

@media screen and (max-width:380px) {

    .copyright {
        font-size: 13px;
        width: 100%;
    }



}